.container {
  margin: 50px auto;
  width: 90%;
  height: 80%;
  min-width: 200;
}

.card {
  margin: 0 2%;
  width: 80%;
  min-height: 70%;
}

.bottomcolor {
  border-bottom: 10px solid rgba(0, 0, 255, 0.5);
}