* {
    margin: 0;
    border: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
  }
  
  body {
    font-family: sans-serif;
  }
  
  .container {
    display: grid;
    width: 96%;
    margin: 0 auto;
    gap: 1.8rem;
    grid-template-columns: 14rem auto 23rem;
  }
  
  a {
    color: black;
  }
  
  img {
    display: block;
    width: 100%;
  }
  
  aside {
    height: 100vh;
  }
  
  aside .top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 1.4rem;
  }
  
  aside .logo {
    display: flex;
    gap: 0.8rem;
  }
  
  aside .logo img {
    height: 2rem;
    width: 2rem;
  }
  
  aside .close {
    display: none;
  }
  
  aside .sidebar {
    background: white;
    display: flex;
    flex-direction: column;
    height: 86vh;
    position: relative;
    top: 3rem;
  }
  
  aside h4 {
    font-weight: 500;
  }
  
  aside .sidebar a {
    display: flex;
    color: black;
    margin-left: 2rem;
    gap: 1rem;
    align-items: center;
    position: relative;
    height: 3rem;
    transition: all 300ms ease;
  }
  
  aside .sidebar a span {
    font-size: 1.6rem;
    transition: all 300ms ease;
  }
  
  aside .sidebar a.active {
    background: black;
    color: white;
    margin-left: 0;
  }
  
  aside .sidebar a.active h4 {
    color: white;
  }
  
  aside .sidebar a:hover {
    background-color: black;
    color: white;
  }
  
  aside .sidebar a:hover h4 {
    color: white;
  }
  
  aside .sidebar a:hover span {
    margin-left: 1rem;
  }
  
  .button {
    margin-top: 1rem;
    font: inherit;
    background-color: #292929;
    color: white;
    border: 1px solid #292929;
    padding: 0.5rem 1.5rem;
    border-radius: 4px;
    width: 100%;
    cursor: pointer;
  }
  
  .button:hover,
  .button:active {
    background-color: black;
    border-color: black;
    color: white;
  }
  